*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    counter-reset: number;
}
  p {
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      color: rgba(33, 25, 41, 0.69);
  }
h3{
    font-size: 26px;
    font-family: 'Pathway Gothic One';

    color: #0f4781;
    text-transform: uppercase;
}
.articel,.first-sidebar-item>h5{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #0f4781;
}

.wrapper{
    background-image: url(../img/sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 230px;

}

.container, .container_two {
    width: 1024px;
    background-color: aliceblue;
    margin: auto;
}
.articel{
   width: 650px;
    padding:110px 0 0 50px;

    display: inline-block;

}
.agency>h3{
    font-size: 26px;
    font-family: 'Pathway Gothic One';

    color: #0f4781;
    text-transform: uppercase;

}
.articel img{
    display: block;
    width:360px;
    height: 280px;

    margin: 0 20px 10px 0;


}

.agency{
    float:left;

}
.articel>h5{
    margin-top: 80px;
    margin-bottom:15px;
}
.articel>p{

    margin-bottom:55px;
}


.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.first-sidebar-item >h5{
}
.container_two{
   border-top:1px solid #676f81;
}

.offer{
    width: 650px;
    padding:55px 0 0 50px;

    float:left;
    display: inline-block;
}
.testiminol{

    width:250px;
    float:right;
    margin-top:55px;

}
.offer>h5{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
    color:10px;

}
.clearfix {
    content: "";
    display: table;
    clear: both;
}


.list ul{
    list-style: none;
}
.one{
    display: inline-block;
    vertical-align: top;
    margin-top: 35px;
    margin-left: 40px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #676f81;
    padding-bottom: 80px;

}
.one li{
    line-height: 40px;
}
.items::before {
    content: "\2192";
    margin-right: 20px;
}
.sidebar{
    display: inline-block;
    width: 250px;
    padding-top:110px;
    margin-right: 60px;

    float:right;
}
.clearfix {
    content: "";
    display: table;
    clear: both;
}
.sidebar>h3{
    font-size: 26px;
    font-family: 'Pathway Gothic One';
    margin-bottom:45px;
    color: #4877c2;
    text-transform: uppercase;

}


.first-sidebar-item>h5{

    padding-left:40px;
    margin-top: 15px;
    }
.sub-title{
    color: #4877c2;
}


.our, h3{
    padding: 25px 0;


}

.first-sidebar-item>p {

   line-height: 1.2;
}
.first-sidebar-item{
    counter-increment:number;
    padding-left: 5px;

}

.first-sidebar-item:before {

    content: counter(number);
    font: normal 13px Arial, sans-serif;
    color: #fff;
    text-align: center;
    line-height: 28px;
    position: absolute;

    width: 25px;
    height: 25px;
    border-radius: 13px;
    border: 1px solid #5297b6;
    background-color: #38afe5;
}
.second-sidebar-item{
    width: 211px;
display: inline-block;
    border:2px solid #92aecc;
    background-color: #FCFAFA;

}
.testiminol>h4{
    font-size: 15px;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    z-index: 20;
    position: relative;


}
.second-sidebar-item:after {
    content: '';
    display: inline-block;
    position: relative;
    transform: rotate(45deg);
    width: 34px;
    height: 34px;
    right:55px;
    top:37px;
    background-color: #fcfafa;
    border-bottom: 1px solid #5297b6;
    border-right: 1px solid #38afe5;
    z-index: -10;

}