*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    background-image: url(1.jpg);
}
.container_one{
    /* padding-top: 50px; */
    display:  flex;
}
.main{
    width: 1024px;

    margin: 0 auto;
    border: 1px solid #fff;
    padding: 50px 0 0 0;
}
.navigation{
    width: 1024px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    /* padding-top: 50px; */
    padding: 45px 0 110px 0;

}
ul>li{
    list-style: none;
}

.item1{
    margin-right: 100px;
}
.item2{
    margin-left: 100px;
}
.item3{
    position: relative;

}
/*.item4{*/
/*color: #4877c2;*/
/*font-size:15px;*/
/*display: none;*/
/*}*/


.item4 {
    color: #0000d0; /* Ð¦Ð²ÐµÑ‚ ÑÑÑ‹Ð»Ð¾Ðº */
    padding: 2px; /* ÐŸÐ¾Ð»Ñ Ð²Ð¾ÐºÑ€ÑƒÐ³ Ñ‚ÐµÐºÑÑ‚Ð° */
    border:1px solid #786b59;
    /*// display: none;*/
    /*position: absolute;*/
    background-color: #ffffff;
    width:100px;
    height: 100px;
    /*left:-1px;*/
    /*opacity: 1;*/

    display: none;

}

.item4:hover {
    left:0;
    opacity: 1;
}


.navigation  a{
    text-decoration: none;
    font-family: 'Pathway Gothic One';
    font-size: 28px;
    color:#fff;
    padding: 0 30px;
    text-transform:uppercase;
    display:  block;
}
a:hover{
    color: #4877c2;
}

.item3:hover>.item4 {
    display: block;
}

.logo{
    width: 140px;
    height: 140px;
    background-color: #ffffff;
    border-radius: 70px;
    position:absolute;
    left:880px;
    /*color: #4877c2;*/
    /*font-size:40px;*/

}
.logo>a{
    color:#4877c2;
    font-size:45px;
    position:absolute;
    text-decoration: none;
    right:10px;
    top:40px;
    font-family: 'Pathway Gothic One';
    display: block;
    text-transform: uppercase;

}
.navigation > ul{
    display: flex;
    justify-content: space-between;
}
/* контейнер 2 основной*/
.container_two{
    width: 1024px;
    height: 1173px;
    background-color: white;
    border: 1px solid #786b59;
    padding: 60px;

}
/*верхний слайд*/
.over{
    width:902px;
    height: 579px;
    border: 2px;
}
 .top {
    font-size: 30px;
    font-family: 'Pathway Gothic One';
    font-weight: 400;
    color: #4877c2;
    margin: 50px 0;
}
 .slider{
     width: 906px;
     height: 580px;
     background-image: url(3.jpg);
     display: flex;

     flex-direction: column;
     align-items: flex-start;
     flex-grow: 1.7;


 }

.slider-circle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1.3;



}

 .under{
     width: 900px;
     height: 250px;
     display: flex;
     justify-content:space-between;

 }

 .name1{
     font-size: 28px;
     font-family: 'Pathway Gothic One';
     text-transform: uppercase;
     width:300px ;
     height: 60px;
     background-color: white;
     text-align: center;
     line-height: 50px;
 }
.name2{
    font-size: 38px;
    font-family: 'Pathway Gothic One';
    text-transform: uppercase;
    width:370px ;
    height: 60px;
    background-color: #4877c2;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
}

/*circle*/
.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #4877c2;
    color:#fff;
    font-size: 30px;
align-content: flex-end;
}


.rawwon {

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4877c2;
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    align-items:end;
}